.Main-Img {
  background-image: url('../../Img/Home/Desktop.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.MobileRes {
  display: none;
}


.Black-circle {
  background-color: #d3e5ef;
  display: block;
  margin: auto;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 2;

}

.Yellow-circle {
  background-color: #341861;
  display: block;
  margin: auto;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 4;
}

.Orange-circle {
  background-color: #29809e;
  display: block;
  margin: auto;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 7;
}

.circle {
  opacity: 1;
  z-index: 799;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 850px) {
  .Main-Img {
    background-image: url('../../Img/Home/FirstSectionMid.jpg') !important;
  }

  .MobileRes {
    display: block;
  }


}

@media (max-width: 450px) {
  .Main-Img {
    background-image: url('../../Img/Home/Mobile.jpg') !important;
  }


}

@media (max-width:1220px) {
  .TriggerSystem {
    left: 150px !important;
  }
}

@media (max-width:1080px) {
  .TriggerSystem {
    left: 100px !important;
  }
}

@media (max-width:1040px) {
  .TriggerSystem {
    left: 30px !important;
  }
}

@media (max-width:850px) {
  .TriggerSystem {
    left: 25% !important;
  }
}


@media (max-width:660px) {
  .TriggerSystem {
    left: 10% !important;
  }
}

@media (max-width:450px) {
  .TriggerSystem {
    width: 80% !important;
    left: 15% !important;

  }
}
