.TheCorridor {
  background-color: #351a63;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.neon {
  color: white;
  font-weight: bold;
  font-weight: 500;
  letter-spacing: .1em;
  font-size: 17px;
  transition: .7s ease all;
}

.container:hover #a {
  text-shadow: 0 0 5px white,
    0 0 7px white,
    0 0 10px lightsalmon,
    0 0 20px lightsalmon,
    0 0 30px lightsalmon,
    0 0 40px lightsalmon,
    0 0 50px lightsalmon,
    0 0 60px lightsalmon;
}

.container:hover #b {
  text-shadow: 0 0 5px white,
    0 0 7px white,
    0 0 10px lightsalmon,
    0 0 20px lightsalmon,
    0 0 30px lightsalmon,
    0 0 40px lightsalmon,
    0 0 50px lightsalmon,
    0 0 60px lightsalmon;
}

.container:hover #c {
  text-shadow: 0 0 5px white,
    0 0 7px white,
    0 0 10px lightsalmon,
    0 0 20px lightsalmon,
    0 0 30px lightsalmon,
    0 0 40px lightsalmon,
    0 0 50px lightsalmon,
    0 0 60px lightsalmon;
}

.container:hover #d {
  text-shadow: 0 0 5px white,
    0 0 7px white,
    0 0 10px lightsalmon,
    0 0 20px lightsalmon,
    0 0 30px lightsalmon,
    0 0 40px lightsalmon,
    0 0 50px lightsalmon,
    0 0 60px lightsalmon;
}
