.TheCorridor {
  background-image: url('../../Img/CorridorSection/BackgroundFullWidth.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.neon {
  color: white;
  font-weight: 500;
  letter-spacing: .1em;
  font-size: 17px;
  transition: .7s ease all;
}

.container:hover #a {
  text-shadow: 0 0 5px #bdb1fa,
    0 0 10px #bdb1fa,
    0 0 34px #bdb1fa,
    0 0 40px #bdb1fa,
    0 0 45px #bdb1fa;
}

.container:hover #b {
  text-shadow: 0 0 5px lightsalmon,
    0 0 10px lightsalmon,
    0 0 34px lightsalmon,
    0 0 40px lightsalmon,
    0 0 45px lightsalmon;
}

.container:hover #c {
  text-shadow: 0 0 5px lightblue,
    0 0 10px lightblue,
    0 0 34px lightblue,
    0 0 40px lightblue,
    0 0 45px lightblue;
}

.container:hover #d {
  text-shadow: 0 0 5px lightseagreen,
    0 0 10px lightseagreen,
    0 0 34px lightseagreen,
    0 0 40px lightseagreen,
    0 0 45px lightseagreen;
}
