@media(max-width:1090px) {
  .Container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .q {
    width: 53vw !important;
  }

  .w {
    width: 53vw !important;
  }

  .e {
    width: 53vw !important;
  }

  .r {
    width: 53vw !important;
  }
}

@media(max-width:660px) {
  #q {
    width: 100vw;
  }

  .q {
    width: 100vw !important;
    height: 54vw !important;
  }

  #w {
    width: 100vw;
  }

  .w {
    width: 100vw !important;
    height: 54vw !important;
  }

  #e {
    width: 100vw;
  }

  .e {
    width: 100vw !important;
    height: 54vw !important;
  }

  #r {
    width: 100vw;
  }

  .r {
    width: 100vw !important;
    height: 54vw !important;
  }
}

@media(max-width:500px) {
  .h1-section-one {
    font-size: 20px !important;
  }

  .p-section-one {
    font-size: 10px !important;
  }

  .btn-section-one {
    min-width: 30% !important;
    font-size: 60% !important;
  }

  .a-section-one {
    font-size: 8px !important;
  }

  .anticon-github {
    font-size: 24px !important;
    margin-left: 5px;
  }
}

@media(max-width:1073px) {
  .animation-h-2 {
    top: 19% !important;
  }
}
